#about {
  margin-top: 100px; }
  #about .container .card-box {
    margin-bottom: 100px; }
    #about .container .card-box .container-fluid {
      width: 100%;
      position: relative;
      float: left; }
      #about .container .card-box .container-fluid .title {
        padding: 30px;
        margin-left: -30px;
        background: lightgrey;
        float: left; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
