#projects .slick-slide .container .project-content {
  top: 50%;
  position: relative;
  transform: translateY(-50%); }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
