#about {
  opacity: 0;
  transition: opacity 0.5s ease-in;

  .slick-list {
    .slick-slide {
      &.about {
        .type {
          top: 50%;
          position: relative;
          transform: translateY(-50%);
          padding-left: 30px;
          @include breakpoint(md) {
            padding-left: 15px;
          }

          h2 {
            position: relative;
            padding-bottom: 30px;
          }

          p {
            padding-bottom: 15px;
          }

          ul {
            @include flexbox;

            li {
              width: 50%;

              a {
                outline: 0;
              }
            }
          }

          &.social {
            ul {
              li {
                a {
                  padding-left: 25px;
                }
                
                a:before {
                  display: block;
                  content: '';
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  background-repeat: no-repeat;
                  background-size: contain;
                }
              }

              li:first-child {
                a:before {
                  background-image: url('../images/about/linkedin-logo.png');
                }
              }

              li:last-child {
                a:before {
                  background-image: url('../images/about/github-512.png');
                }
              }
            }
          }

          .content {
            div {
              padding: 5px 0;

              h4 {
                padding-bottom: 8px;
              }

              ul {
                padding-left: 30px;
                @include breakpoint(md) {
                  @include flexbox;
                  justify-content: flex-start;
                  flex-wrap: wrap;
                }

                li {
                  padding-right: 30px;
                  display: inline;
                  &:last-child {
                    padding-right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
