#about {
  .slick-list {
    .slick-slide {
      &.about {
        .type {
          top: 50%;
          position: relative;
          transform: translateY(-50%);
          min-height: 200px;
          padding-left: 30px;

          h2 {
            top: -64px;
            left: 28px;
            position: relative;
          }

          p {
            width: 50%;
            margin: 0 auto;
            text-align: center;
          }
        }
      }
    }
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #about {

  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
  #about {

  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  #about {

  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {
  #about {

  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  #about {

  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #about {

  }
}
