/*--------------------------------------
         BANNER
---------------------------------------*/
#banner-container {

  width:100%;
  height:100%;
  position: absolute;
  @include horizontal-align;
  z-index:2;

  .banner {
    @include horizontal-align;
    width:45%;
    //margin-top:100px;
    background-color: $opaque;
    height:100px;
    opacity: 0;
    position: absolute;
    @include box-shadow;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;

    .banner-copy {
      @include flex;
      font-size: 24px;

      .plus {
        color:$pink;
      }
    }
  }

  #banner-1 {
    animation: fade-in-out 4s 0.5s 1 normal forwards;
  }

  #banner-2 {
    animation: fade-in 4s 4.5s 1 normal forwards;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
  }
  25% {  opacity: 1;  }
  40% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  75% {  opacity: 1;  }
  100% {  opacity: 0;  }
}

@keyframes fade-in {
  0% {  opacity: 0;  }
  25% {  opacity: 1;  }
  100% {  opacity: 1;  }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #banner-container {
    .banner {
      width: 50%;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #banner-container {
    .banner {
      width: 65%;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #banner-container {
    .banner {
      width: 90%;
    }
  }
}
