/*--------------------------------------
         BASE
---------------------------------------*/
#main {
  background: white;
  @include full-screen();
  color:$grey;
  font-family: $base-font-family;
  font-weight: $regular;
}

#overlay {
  position: absolute;
  z-index: 10000;
  width:100vw;
  height:100vh;
  background-color:white;
  @include horizontal-align;
  color:$pink;
  font-size:36px;
}
