.contact-button {
  background-color: $pink;
  color: white;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: relative;
  font-size: 24px;
  transition: all 1s ease-in-out;
  cursor: pointer;
  opacity: 0;
  top: 50px;
  @include box-shadow;
}

.contact-button:hover {
  background-color: #cd3e45;
}
