/*--------------------------------------
         BASE
---------------------------------------*/
#main {
  background: white;
  @include full-screen();

  .main-container {
    @include full-screen();
  }

  .plus {
    color:$pink;
  }

  .page-container{
    height: 100%;
    width: 100%;
    position: relative;

    .container {
      height: 100%;
      position: relative;
    }
  }
}

*, *:before, *:after{
  box-sizing: border-box;
}

.geo {
  position: relative;
  height: 0px;
  width: 0px;
  top: 0px;
  left: 0px;
  transform: rotate(-6deg) skew(-38deg);
  -webkit-transform: rotate(-6deg) skew(-38deg);
  border-top: 50px solid $lightgrey;
  border-left: 200px solid $lightgrey;
  border-right: 10px solid transparent;
  border-bottom: 30px solid transparent;
}

.disclaimer {
  color: lightgrey !important;
  margin-top: 20px;
}
