#nav-menu {
  width:100%;
  position: absolute;
  top: 15px;
  z-index: 1000;

  .row {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;

    div {
      height: 50px;
    }

    .geo {
      position: relative;
      height: 0px;
      width: 0px;
      top: -24px;
      left: 0px;
      transform: rotate(-5deg) skew(-40deg);
      -webkit-transform: rotate(-5deg) skew(-40deg);
      border-top: 70px solid #f8f8f8;
      border-left: 253px solid #f8f8f8;
      border-right: 27px solid transparent;
      border-bottom: 23px solid transparent;
    }
  }

  #home-btn {
    position: relative;
    top: -100px;
    left: 35px;

    p {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .nav-menu-container {
    // display: flex;
    // display: -webkit-flex;
    // justify-content: flex-end;

    .nav-menu-button {
      position: relative;
      margin: 0 30px;
      transition: all .3s ease;
      @include flex;
      color: $grey;
      text-decoration: none;
    }

    .nav-menu-button:hover {
      cursor: pointer;
      color:$pink;
    }
  }

  // .active {
  //   color:$pink !important;
  // }
}
