.project-modal {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition:1s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(24,75,92,0.7);
  display: flex !important;

  .container {
    margin-top: 100px;
  }

  .modal-header {
    background: white;
    margin: 0 1%;
  }

  h4 {
    font-size: 26px;
    color: $pink;
  }

  .modal-body {

    .modal-body--summary {
      padding: 15px 15px 30px 15px;
      border-bottom: 1px solid #e5e5e5;
      line-height: normal;
    }

    h5 {
      color: $pink;
      font-size: 20px;
      padding-top:15px;
    }

    .modal-flex {
      display: flex;
      align-items:center;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 15px;
      line-height: 30px;
    }
  }

  .modal-dialog {
    position: relative;
    width: 98%;
    margin: 0 auto;
    background:white;
    max-width: 100% !important;
    @include box-shadow;
  }

  .modal-wrapper {
    width: 75%;
    margin: 0 auto;
  }

  .close {
    color: $pink;
    opacity: 1;
  }

  .close:focus { outline:0; }

  .project-modal-img {
    width: 98%;
    margin: 1%;
    @include box-shadow();
  }
}

.project-modal.show {
  opacity: 1;
  visibility: visible;
  display: block;
}