/*--------------------------------------
         MIXINS
---------------------------------------*/
@mixin vertical-align {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin center-align {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin horizontal-align {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin full-screen {
  width:100%;
  height:100%;
  position: absolute;
}

@mixin transition {
  transition:all .3s ease;
}
@mixin box-shadow {
  -webkit-box-shadow: 0 1px 2px 1px rgba(59, 59, 59, 0.4);
  -moz-box-shadow: 0 1px 2px 1px rgba(59, 59, 59, 0.4);
  box-shadow: 0 1px 2px 1px rgba(59, 59, 59, 0.4);
}
